.main-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(135deg, #f0fdf4, #1d4f90); */
    padding: 30px;
    gap: 40px;
    box-sizing: border-box;
}

.left-card {
    flex: 1 1 500px;
    max-width: 650px;
    padding: 7px;
    margin-top: -90px;
}

.right-card {
    flex: 1 1 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 100%;
    max-width: 450px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(217, 7, 7, 0.12);
    padding: 30px;
    box-sizing: border-box;
}

.auth-select {
    display: flex;
    background: #f3f4f6;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

.login-btn {
    flex: 1;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.reg-btn {
    flex: 1;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}